@use "sass:list";
//@function summarize-numbers ($first:0, $second:0) {$value: $first) !=number {}

//@error "First number is not a number";
//}

//@if type-of ($value: $first) !=number {
//@error "Second number is not a number";
//}

//@return $first+$second;
//}

@function summarize-numbers($numbers...) {
    $sum: 0;

    @for $i from 1 through list.length($numbers) {
        $value: list.nth($numbers, $i);

        @if type-of($value) !=number {
            @error "The"+$i+"parameter is not a number";
        }

        $sum: $sum+$value;
    }

    @return $sum;
}

//@debug summarize-numbers(1, 2, 3, 4);

@function deletel-list-element($list, $index) {
    $new-list: ();
}